@import "../utils/mixins";

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
  position: relative;

  flex-wrap: wrap;

  @include screen-md {
    flex-wrap: nowrap;
  }

  @include screen-lg {
    flex-wrap: nowrap;
  }

  @include screen-xl {
    flex-wrap: nowrap;
  }

  &-container {
    display: none;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;

    @include screen-md {
      display: flex;
      max-width: 400px;
      width: 100%;
      margin-left: 10px;
    }

    @include screen-lg {
      display: flex;
      max-width: 400px;
      width: 100%;
      margin-left: 10px;
    }

    @include screen-xl {
      display: flex;
      max-width: 600px;
      width: 100%;
    }

    @include screen-xxl {
      display: flex;
      max-width: 730px;
      width: 100%;
    }
  }

  &-list {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    height: 40px;

    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera */
    }
  }

  &-item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 6.75px 16px;
    border: 1px solid #e7eaee;
    border-radius: 50px;
    margin: 0;
    box-sizing: border-box;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 9px;
    }

    &--text {
      font-size: 14px;
      font-weight: 500;
      line-height: 16.94px;
      text-align: center;
      color: #4b5768;
    }

    &--value {
      font-size: 12px;
      font-weight: 500;
      line-height: 14.52px;
      background: #f7f8f9;
      padding: 4px 8px;
      margin-left: 10px;

      color: #4b5768;
      border: 1px solid #e7eaee;
      border-radius: 5px;
    }

    &--margin {
      margin: 16px 0 0 0 !important;
      padding: 12px 16px !important;
      max-width: 48%;
      width: 100%;
      justify-content: space-between;

      @include screen-md {
        margin-left: 10px !important;
        margin-top: 0 !important;
        max-width: max-content;
        padding: 10px 26px;
      }

      @include screen-lg {
        margin-left: 10px !important;
        margin-top: 0 !important;
        max-width: max-content;
        padding: 10px 26px;
      }

      @include screen-xl {
        margin-left: 10px !important;
        margin-top: 0 !important;
        max-width: max-content;
        padding: 10px 26px;
      }
    }
  }

  &-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255);
    color: white;
    cursor: pointer;
    z-index: 1;
    border: 1px solid #e7eaee;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow: 0px 4px 4px -1px rgba(12, 12, 13, 0.05);
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

    &--rotate {
      transform: rotate(180deg);
    }

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  &__search {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #ebebed;
    border-radius: 50px;
    padding: 12px 16px;
    box-sizing: border-box;
    position: relative;

    @include screen-md {
      max-width: 205px;
      width: 100%;
    }

    @include screen-lg {
      max-width: 205px;
      width: 100%;
    }

    @include screen-xl {
      max-width: 205px;
      width: 100%;
    }

    &-input {
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
      outline: none;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.94px;
      color: #64748b;
      margin-left: 10px;
    }
  }

  &__select {
    background-color: #fff;
    border: 1px solid #ebebed;
    border-radius: 50px;
    padding: 12px 16px;
    box-sizing: border-box;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    margin-top: 16px;
    -webkit-tap-highlight-color: transparent;

    @include screen-md {
      display: none;
    }

    @include screen-lg {
      display: none;
    }

    @include screen-xl {
      display: none;
    }

    &--arrow {
    }
  }

  &__modal {
    position: absolute;
    top: 100px;
    right: 0;
    width: 280px;
    border: 1px solid #ebebed;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 0px rgba(12, 12, 13, 0.05);
    padding: 16px;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transition: all 0.3s ease;
    box-sizing: border-box;
    overflow: hidden;
    background: #fff;
    color: #141414;

    @include screen-md {
      display: none;
    }

    @include screen-lg {
      display: none;
    }

    @include screen-xl {
      display: none;
    }

    &-select {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 35px;
      background: #fff;
      border: none;

      font-size: 16px;
      font-weight: 600;
      line-height: 19.36px;
      color: #323a46;
    }

    &--border {
      border-bottom: 1px solid #ebebed;
      margin: 10px 0;
    }
  }
}
